<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"  />
    <link rel="stylesheet" href="/css/style.css">
    <title>Youtube Bookmark</title>
    <style>
        body{
            background-image: url("/images/youtube-no-videos-endscreen.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
        }
    </style>
</head>

<body>
    <div class="container login-container">
        <div class="card">
            <div class="card-content">
                <h3><i class="fab fa-youtube">Youtube Bookmark</i></h3>
                    <div class="section">
                        <p class="lead">
                        Save the time and resume from where you left.
                        </p>
                    </div>
            <div class="divider">

            </div>
            <div class="section">
                <a href="/auth/google" class="btn red darken-1">
                <i class="fab fa-google left"> Login with google</i>
                </a>
            </div>
               
        </div>
    </div>
        
    </div>
     
</body>